*.ipch
*.obj
*.lib
*.exe
*.pdb
*.log
*.tlog
*.idb
*.manifest
*.manifest.res
*.vcxproj
*.vcxproj.user
*.vcxproj.filters
*.ilk
*.dll
*.exp
*.sdf
*.suo
*.opensdf
*.old
*.swp
obj/
UpgradeLog.XML
_UpgradeReport_Files/
*.xml
*.bak
*.lastbuildstate

